.container-fluid {
  height: 100vh;
}

a.navLinkHome.nav-link {
  @media (max-width: 425px) {
    font-size: 30px;
  }
  @media (min-width: 425px) {
    font-size: 50px;
  }
}

div.main-view {
  @media (max-width: 320px) {
    display: flex;
    background-color: blueviolet;
  }
}
