$color: steelblue;

.my-flix {
  color: $color;
}

img.movie-poster {
  height: 400px;
  width: 300px;
}

.app-container {
  margin: 50px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  line-height: 30px;
}

div.movie-card {
  cursor: pointer;
}

button {
  border: none;
  padding: 10px;
  background-color: goldenrod;
  border-radius: 10px;
  cursor: pointer;
}
