.app-container {
  background-color: burlywood;
  height: 100vh;
}

.container-fluid {
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}
